.productInfo {
    margin: 10px;
    padding: 10px;
}

img.largeImage {
    width: 400px !important;
    height: 400px !important;   
}

.productLabel{
    font-weight: bold !important;
}

div.largeImage {
    box-shadow: none;
    background-color: #6cb4f8;
}

.productName {
    font-size: 3em !important;
    color:black;
    text-decoration: none !important;
}

.productGrid {
    flex-grow: 1;
}

.dollars:before {
    content:'$'; 
}

.crossedout {
    text-decoration: line-through
}

/* unvisited link */
a.product-link:link {
    color:black;
    text-decoration: none !important;
  }
  
  /* visited link */
  a.product-link:visited {
    color:black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a.product-link:hover {
    color:black;
  }

  