.productInfo {
    margin: 10px;
    padding: 10px;
}

img.largeImage {
    width: 400px !important;
    height: 400px !important;   
}

.productLabel{
    font-weight: bold !important;
}

div.largeImage {
    box-shadow: none;
    background-color: #6cb4f8;
}

.productName {
    font-size: 3em !important;
}

.productGrid {
    flex-grow: 1;
}

.dollars:before {
    content:'$'; 
}

.crossedout {
    text-decoration: line-through
}

h2.comment-title{
    font-size: 1.75rem !important;
    font-weight:bold;
}